//params agruments

params {

  // Workflow flags
  reads = "'./reads/*_raw.fq.gz'"
  outdir = './results'
  protocol = 'illumina'
  genome = false
  clip_R1 = 0
  three_prime_clip_R1 = 0
  three_prime_adapter = "TGGAATTCTCGGGTGCCAAGG"
  min_length = 17
  genome_mapping = true
  bowtie_index = false
  skipQC = false
  skipFastqc = false
  skipMultiqc = false
  seq_center = ""
  hairpin = "./db/hairpin.fa"
  mature = "./db/mature.fa"
  gtf = "./db/hsa.gff3"
  species = 'hsa'
  version = '1.0.0'
  publish_dir_mode  = 'copy'
  seq_center = ""
  single_end = true
  salmon = false
//other parameters
  cpus = 6
  name = false
  email = false
  maxMultiqcEmailFileSize = 25.MB
  plaintext_email = false
  monochrome_logs = false
  help = false
  tracedir = "${params.outdir}/pipeline_info"
  awsqueue = false
  igenomesIgnore = false
  custom_config_version = 'master'
  hostnames = false
  config_profile_description = false
  config_profile_contact = false
  config_profile_url = false
}

//use docker in pipeline
docker.enabled = true

// Specify docker images for software in pipeline
process {
    withLabel:fastqc {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }
    withLabel:bowtie {
        container = 'quay.io/biocontainers/mulled-v2-ffbf83a6b0ab6ec567a336cf349b80637135bca3:9e14e16c284d6860574cf5b624bbc44c793cb024-0'
        cpus = 8
    }
    withLabel:seqkit {
        container = 'quay.io/biocontainers/seqkit:0.15.0--0'
    }
    withLabel:fastx_toolkit {
        container = 'quay.io/biocontainers/fastx_toolkit:0.0.14--he1b5a44_8'
    }
    withLabel:trim_galore {
        container = 'quay.io/biocontainers/trim-galore:0.6.6--0'
    }
    withLabel:multiqc {
        container = 'quay.io/biocontainers/multiqc:1.9--py_1'
    }
    withLabel:samtools {
    	container = 'quay.io/cumulus/samtools:1.11'
    }
    withLabel:gffread {
    	container = 'quay.io/biocontainers/gffread:0.12.1--h8b12597_0'
    }
    withLabel:mirdeep2 {
    	container = 'quay.io/biocontainers/gffread:0.12.1--h8b12597_0'
    }
    withLabel:salmon {
    	container = 'quay.io/biocontainers/salmon:1.4.0--hf69c8f4_0'
    }
	withLabel:deseq2 {
    	container = 'quay.io/biocontainers/mulled-v2-8849acf39a43cdd6c839a369a74c0adc823e2f91:ab110436faf952a33575c64dd74615a84011450b-0ss'
    }
    withLabel:htseq {
    	container = 'quay.io/biocontainers/htseq:0.13.5--py38h1773678_0'
    }
    withLabel:featurecounts {
    	container = 'docker.io/zayed/featurecounts:latest'
    }


    
}
